
#m-12 {
  margin: 20px;
}

.box {
  width: 600px;
  height: 400px;
}


#botones-estadistica {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#botones-estadistica a {
  display: inline-block;
  padding: 12px 20px;
  margin: 8px;
  border-radius: 9999px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  text-decoration: none;
  border: 2px solid #10b981;
}

#boton-activo {
  background-color: #10b981;
  color: white;
}

#boton-inactivo {
  background-color: white;
  color: #10b981;
}

#boton-estadistica:hover {
  transform: scale(1.05);
}
