<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/SeguimientoNutricional.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <script src="{{ url_for('static', filename='js/graficos.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/echarts"></script>

    <title>Seguimiento Nutricional</title>
  </head>
  <body>
    <nav>
      <!-- Inicio -->
      <i class="fa-solid  fa-solid fa-house active"></i>
      <!-- Registro de comidas -->
      <i class="fa-solid fa-utensils"></i>
      <!-- Objetivos -->
      <i class="fa-solid fa-bullseye"></i>
      <!-- Historial -->
      <i class="fa-solid fa-clock-rotate-left"></i>
      <!-- Graficos -->

      <!-- Ajustes -->
      <i class="fa-solid fa-user"></i>

      <!-- Perfil -->
      <!-- Cerrar sesion -->
      <i class="fa-solid  fa-sign-out-alt"></i> <!-- Cerrar sesión -->

    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
