{% extends "base.html" %}

{% block title %}Seguimiento Nutricional{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/estadisticas/estadistica_general.js') }}"></script>
{% block head %}
  <link href="{{ url_for('static', filename='css/a.css') }}?v=1" rel="stylesheet"/>
{% endblock %}


<div class="content">
  <!-- Header -->
  <div class="header">
    <div class="bienvenida">
      <p>Hola, {{ nombre }} {{ apellido }}</p>
      <h1>Tu Plan de Dieta Personalizado</h1>
    </div>
    <div class="perfil-usuario">
      <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" alt="Icono de usuario"/>
    </div>
  </div>

  <div class="boxes">
    <!-- Gráfico -->
    <div class="box">
      <div id="chart" style="width: 600px; height: 400px"></div> 
    </div>

    <!-- Calorías Base -->
    <div class="box calorias-box">
      <h3>Calorías Base</h3>
      {% if datos and datos.calorias_base is not none %}
        <p>Tu caloría base diaria es <strong>{{ datos.calorias_base }} kcal</strong>.</p>
        <p class="mensaje">¡Mantén este valor para alcanzar tus objetivos!</p>
      {% else %}
        <p class="mensaje-error">Aún no has configurado tu caloría base.</p>
      {% endif %}
    </div>

    <!-- Nivel de actividad -->
    <div class="box actividad-box">
      <h3>Nivel de Actividad</h3>
      {% if datos and datos.nivel_actividad %}
        {% if datos.nivel_actividad == 1 %}
          <p>Bajo</p>
          <p class="mensaje">¡Un poco más de movimiento diaria te sentará de maravilla!</p>
        {% elif datos.nivel_actividad == 2 %}
          <p>Moderado</p>
          <p class="mensaje">¡Sigue así para mantener tu forma física!</p>
        {% elif datos.nivel_actividad == 3 %}
          <p>Alto</p>
          <p class="mensaje">¡Tu nivel de actividad es excelente, continúa así!</p>
        {% endif %}
      {% else %}
        <p class="mensaje-error">No has definido tu nivel de actividad.</p>
      {% endif %}
    </div>

    <!-- Calorías Permitidas -->
    <div class="box calorias-permitidas-box">
      <h3>Calorías Permitidas</h3>
      {% if datos and datos.calorias_permitidas is not none %}
        <p>Tienes permitidas <strong>{{ datos.calorias_permitidas }} kcal</strong> al día.</p>
        {% if datos.calorias_permitidas > datos.calorias_base %}
          <p class="mensaje">¡Estás en modo “subida” de masa o rendimiento!</p>
        {% else %}
          <p class="mensaje">¡Equilibra tu dieta para mantener un peso saludable!</p>
        {% endif %}
      {% else %}
        <p class="mensaje-error">Configura tus calorías permitidas para mejorar tu plan.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
