
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="{{ url_for('static', filename='css/nav_user.css') }}" rel="stylesheet"/>
 


    <div id="navbar_user">
        <a href="{{ url_for('cuenta') }}" class="{% if request.endpoint == 'cuenta' %}active{% endif %}">
            <i class="fa fa-user"></i> Información personal
        </a>

        <a href="{{ url_for('cambiar_contraseña') }}" class="{% if request.endpoint == 'cambiar_contraseña' %}active{% endif %}">
            <i class="fa fa-lock"></i> Contraseña y Seguridad
        </a>

        <a href="{{ url_for('logout') }}">
            <i class="fa fa-sign-out-alt"></i> Cerrar sesión
        </a>
    </div>

